/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';
@import 'single-internal-page';
@import 'about.scss';
@import 'contact.scss';
@import 'resume.scss';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	
	font-family: 'Montserrat', sans-serif;
	background-color: black;
}

.main-content{
	width: 100%;
	background-size: cover;
	background-image: url(../../src/img/texture.jpg);
	padding-top: 3%;
}

.hide{
	visibility: hidden;
	opacity: 0;

}

.mobile-nav{
	width: 100%;
	display: flex;
	position: relative;
	padding-top: 5%;
	padding-bottom: 5%;
	justify-content: space-around;
	align-items: center;
	z-index: 100;

	ul{
		text-align: center;
	}
	

	a ,li {
		text-decoration: none;
		color: white;
		transition: all .5s;

		&:hover{

			color: RGBA(114, 188, 147, 1.00);
		}


	}



	.x-out{
		width: 90%;
	    display: flex;
	    justify-content: flex-end;

	    
	}
	.logo{
		width: 15%;
		background-image: url(../../src/img/david.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		padding-bottom: 15%;
		transition: all .5s;
		max-width: 150px;

		&:hover{
			opacity: .55;
			transform: scale(1.1)
		}
	}

	.nav-inner{
		position: absolute;
		width: 100%;
		background-color: black;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		top: -1500%;
		transition: all .8s;
		
		
		
	    
	    

	    li{
	    	padding-bottom: 20px;
	    	font-size: 3rem;
	    }
	}

	.nav-text{
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		transition: all .5s;

		&:hover{
			opacity: .55;
		}

		p{
			margin-bottom: 10px;
		}

		.nav-job-title{
			font-size: .9rem;
		}
	}

	.hamburger{
		width: 13%;
		z-index: 1;
		height: 40px;
		transition: all .8s;
		transition: all .5s;

		&:hover{
			opacity: .55;
		}
	
	
		.bar{
			width: 50px;
			height: 5px;
			background-color: white;
			margin-bottom: 10px;
		}
	}  
}

.nav-active{
	top: 0% !important;
	

}

.projects{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	.two-halves-container{
		width: 100%;
		display: flex;
		flex-direction: column;
		
	}

	.portfolio-piece{
		width: 100%;
		padding-bottom: 200px;
		background-color: #ccc;
		margin-bottom: 10px;
		background-size: cover;
		background-position: center center;
		padding-bottom: 62%;
		position: relative;
		display: flex;
		justify-content: center;
		position: relative;
		align-items: center;
		transition: all .8s;

		&:hover{
			transform: scale(1.02);
			.project{
				
				h1{
					opacity: 1;
					color: RGBA(114, 188, 147, 1.00);
					font-size: 2.1rem;
					
				}
			}
			
			
		}
		
		.project{
			width: 100%;
			position: absolute;
			bottom: 0;

			

			h1{
				width: 100%;
				height: 117px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color:rgba(0,0,0,.5);
				color: white;
				font-size: 1.8rem;
				transition: all .8s;
				opacity: 0;

				
			}
		}
	}

	.tesla-project{
		background-image: url(../../src/img/project-snap-shots/tesla.png);
	}

	.pukka-project{
		background-image: url(../../src/img/project-snap-shots/pukka.png);
	}

	.slipstream-project{
		background-image: url(../../src/img/project-snap-shots/slipstream.png);
		background-position: right;
	}

	.rollingstone-project{
		background-image: url(../../src/img/project-snap-shots/led-zep.png);
	}

	.google-yelp-project{
		background-image: url(../../src/img/project-snap-shots/google-yelp.png);
	}

	.vital-project{
		background-image: url(../../src/img/project-snap-shots/vital.png);
	}

	.smithsonian-project{
		background-image: url(../../src/img/project-snap-shots/smithsonian.png);
		background-position: top;
	}

	.one-bite2go-project{
		background-image: url(../../src/img/project-snap-shots/1bite2go.png);
	}
}



@media screen and (min-width: 768px) {

	.mobile-nav{
		padding-top: unset;
		padding-bottom: unset;

		.logo{
			padding-bottom: 10%;
		}

		.nav-inner{
			a, li{
				font-size: 4rem;
				margin-bottom: 15%;
			}
			
		}
	}
	

	.projects{
		width: 80%;

		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

		.two-halves-container{
			flex-direction: row;
		}

		.portfolio-piece{
			width: 100%;
			margin-right: 10px;
			padding-bottom: 40%;
		}
	}

}

@media screen and (min-width: 1024px) {

	
	.projects{
		width: 94%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.two-halves-container{
			width: 100%;
			display: flex;
			justify-content: space-between;

			.portfolio-piece{
				width: 48%;

			}

			
		}

		.portfolio-piece{
			width: 31%;
			// margin-right: 10px;
			margin-right: 0;
			padding-bottom: 40%;
			margin-bottom: 2%;
			position: relative;
			display: flex;
			justify-content: center;

		
		}

		.tesla-project, .rollingstone-project,
		.smithsonian-project{
			width: 100%;
		}

		.pukka-project, .slipstream-project,
		.google-yelp-project, .vital-project,
		.one-bite2go-project{
			width: 50%;
		}
	}

}


