/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';
@import 'single-internal-page';
@import 'about.scss';
@import 'contact.scss';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	
	font-family: 'Montserrat', sans-serif;
	background-color: black;
}

.main-content{
	width: 100%;
	background-size: cover;
	background-image: url(../../src/img/texture.jpg);
	padding-top: 3%;
}

.hide{
	visibility: hidden;
	opacity: 0;

}



.mobile-nav{
	width: 100%;
	display: flex;
	position: relative;
	padding-top: 5%;
	padding-bottom: 5%;
	justify-content: space-around;
	align-items: center;
	

	a ,li {
		text-decoration: none;
		color: white;
		transition: all .5s;

		&:hover{
			opacity: .55;
		}


	}



	.x-out{
		width: 90%;
	    display: flex;
	    justify-content: flex-end;

	    
	}
	.logo{
		width: 15%;
		background-image: url(../../src/img/david.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		padding-bottom: 15%;
		transition: all .5s;
		max-width: 150px;

		&:hover{
			opacity: .55;
			transform: scale(1.1)
		}
	}

	.nav-inner{
		position: absolute;
		width: 100%;
		background-color: black;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		top: -1500%;
		transition: all .8s;
		
		
		
	    
	    

	    li{
	    	padding-bottom: 20px;
	    	font-size: 3rem;
	    }
	}

	.nav-text{
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		transition: all .5s;

		&:hover{
			opacity: .55;
		}

		p{
			margin-bottom: 10px;
		}

		.nav-job-title{
			font-size: .9rem;
		}
	}

	.hamburger{
		width: 13%;
		z-index: 1;
		height: 40px;
		transition: all .8s;
		transition: all .5s;

		&:hover{
			opacity: .55;
		}
	
	
		.bar{
			width: 50px;
			height: 5px;
			background-color: white;
			margin-bottom: 10px;
		}
	}  
}

.nav-active{
	top: 0% !important;
	

}

.projects{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	// z-index: 1;
	// position: relative;



	.portfolio-piece{
		width: 100%;
		padding-bottom: 200px;
		background-color: #ccc;
		margin-bottom: 10px;
	}
}

video{
	position: absolute;
}

@media screen and (min-width: 768px) {

	.mobile-nav{
		padding-top: unset;
		padding-bottom: unset;

		.logo{
			padding-bottom: 10%;
		}

		.nav-inner{
			a, li{
				font-size: 4rem;
				margin-bottom: 15%;
			}
			
		}
	}
	

	.projects{
		width: 80%;

		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

		.portfolio-piece{
			width: 48%;
			margin-right: 10px;
			padding-bottom: 40%;
		}
	}

}

@media screen and (min-width: 1024px) {

	
	.projects{
		display: flex;
		flex-wrap: wrap;

		.portfolio-piece{
			width: 31%;
			margin-right: 10px;
			padding-bottom: 40%;
		}
	}

}


